<div class="card back " >
  <div class="card-body">
    <h5 class="card-title" style="color: #2D2D2D; font-weight: 700;">Temperature</h5>
    <div class="row">
      <div class="col-6">
        <div class="circle">
          <h1 class="numb">21 <span class="temp"> &#x2103;</span></h1>
        </div>
      </div>
      <div class="col-6">
        <div>
           <h3 class="count"> <img src="assets/icons/fire.svg" class="imgs" alt="">   26 <span class="temp-as"> &#x2103;</span></h3>
        </div>
        <hr style="color: #999999;">
        <div>
           <h3 class="count"> <img src="assets/icons/snowflake.svg" class="imgs" alt="">   18 <span class="temp-as"> &#x2103;</span></h3>
        </div>
      </div>
    </div>
  </div>
</div>
